<a href="https://colab.research.google.com/github/megadeazzahra/data-mining-sem-5/blob/main/movie_dataset_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing Movie Sample Dataset

## Memuat Data

In [ ]:
import pandas as pd

Terlebih dahulu import library pandas. Library ini adalah alat yang sangat berguna dalam bahasa pemrograman Python untuk manipulasi dan analisis data, terutama data dalam format tabel.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Memeriksa data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data mining/movie_sample_dataset.csv')
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

Selanjutnya, kita menggunakan pd.read_csv untuk membaca dataset yang berada dalam format CSV (Comma-Separated Values). Dataset ini disimpan dalam DataFrame bernama df, yang merupakan struktur data utama dalam pandas.

Dengan df.head(), kita dapat melihat 5 baris pertama dari DataFrame. untuk memberikan gambaran awal tentang struktur dan isi data yang akan kita olah.

In [ ]:
df.shape

(99, 13)

Memeriksa Dimensi Data menggunakan df.shape, kita dapat mengetahui jumlah baris dan kolom dalam DataFrame.

In [ ]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

Memeriksa tipe data Dengan df.dtypes, kita dapat melihat tipe data dari setiap kolom dalam DataFrame. Memastikan bahwa setiap kolom memiliki tipe data yang sesuai

In [ ]:
# cek banyaknya missing value pada masing-masing kolom
print(df.isnull().sum())

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Melalui print(df.isnull().sum()), kita menghitung jumlah nilai yang hilang (NaN) di setiap kolom. Mengetahui keberadaan nilai yang hilang penting agar kita dapat mengambil tindakan yang sesuai untuk membersihkan data.

## Membersihkan Data

### hapus baris bernilai NaN

In [ ]:
df = df.dropna(subset=['gross', 'budget'])

Menghapus Baris yang Hilang: Kita menggunakan df.dropna(subset=['gross', 'budget']) untuk menghapus semua baris yang memiliki nilai NaN pada kolom 'gross' dan 'budget'.

In [ ]:
df.isnull().sum()

color                   10
director_name           10
duration                 0
gross                    0
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Setelah menghapus baris, kita melakukan pemeriksaan ulang dengan df.isnull().sum() untuk memastikan bahwa tidak ada nilai hilang pada kolom yang ditargetkan.

### normalisasi kolom color

In [ ]:
# Mengubah kolom 'color' menjadi lowercase
df['color'] = df['color'].str.lower()

print(df)

     color      director_name  duration        gross  \
0    color    Martin Scorsese       240  116866727.0
1    color        Shane Black       195  408992272.0
2   color   Quentin Tarantino       187   54116191.0
3    color   Kenneth Lonergan       186      46495.0
4    color      Peter Jackson       186  258355354.0
..     ...                ...       ...          ...
93   color        Tony Gilroy       135  113165635.0
94   color      Steve McQueen       134   56667870.0
96   color    Paul Greengrass       134  107100855.0
97   color         David Ayer       134   85707116.0
98   color     Clint Eastwood         5   47034272.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
..                                   ...                                  ...
93             Action|Adventure|Thriller                    The Bourne Legacy
94               Biography|Drama|History                     12 Years a Slave
96              Biography|Drama|Thriller                     Captain Phillips
97                      Action|Drama|War                                 Fury
98         Biography|Drama|Music|Musical                          Jersey Boys

    title_year language country       budget  imdb_score  \
0         2013  English     USA  100000000.0         8.2
1         2013  English     USA  200000000.0         7.2
2         2015  English     USA   44000000.0         7.9
3         2011  English     usa   14000000.0         6.5
4         2013  English     USA  225000000.0         7.9
..         ...      ...     ...          ...         ...
93        2012  English     USA  125000000.0         6.7
94        2013  English     USA   20000000.0         8.1
96        2013  English     USA   55000000.0         7.9
97        2014  English     USA   68000000.0         7.6
98        2014  English     USA   40000000.0         6.9

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
..                                                ...                   ...
93              Jeremy Renner,Scott Glenn,Stacy Keach                 31000
94       Quvenzhané Wallis,Scoot McNairy,Taran Killam                 83000
96             Tom Hanks,Chris Mulkey,Michael Chernus                 65000
97                 Brad Pitt,Logan Lerman,Jim Parrack                 82000
98      Johnny Cannizzaro,Steve Schirripa,Scott Vance                 16000

[89 rows x 13 columns]

<ipython-input-9-09d1c87f92cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['color'] = df['color'].str.lower()

Kita mengubah semua nilai dalam kolom 'color' menjadi huruf kecil dengan menggunakan metode .str.lower(). Normalisasi ini membantu dalam menjaga konsistensi data, sehingga ketika kita melakukan analisis atau pencarian, tidak ada perbedaan akibat penggunaan huruf kapital atau kecil.

### hapus nilai yang tidak standar

In [ ]:
df.isna()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,False,False,False,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.dropna(inplace=True)
print (df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

<ipython-input-11-a2da42f2ffe6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

Dengan df.dropna(inplace=True), kita menghapus semua baris yang masih memiliki nilai NaN di DataFrame. Kita melakukan pemeriksaan ulang dengan print(df.isnull().sum()) untuk memastikan bahwa tidak ada nilai hilang yang tersisa setelah proses pembersihan.

## Transformasi Data

### ubah tipe data

In [ ]:
df[['gross', 'budget']] = df[['gross', 'budget']].apply(pd.to_numeric, errors='coerce')
print (df.dtypes)

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

<ipython-input-12-45acd36c12d5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['gross', 'budget']] = df[['gross', 'budget']].apply(pd.to_numeric, errors='coerce')

Kita menggunakan df[['gross', 'budget']].apply(pd.to_numeric, errors='coerce') untuk mengonversi kolom 'gross' dan 'budget' menjadi tipe data numerik. Dengan pengaturan errors='coerce', nilai yang tidak dapat diubah akan diubah menjadi NaN.

### memisahkan kolom genre

In [ ]:
print(df['genres'].head())

0            Biography|Comedy|Crime|Drama
1                 Action|Adventure|Sci-Fi
2    Crime|Drama|Mystery|Thriller|Western
3                                   Drama
4                       Adventure|Fantasy
Name: genres, dtype: object

In [ ]:
# pisahkan genre
genres_split = df['genres'].str.split('|', expand=True)

Dengan df['genres'].str.split('|', expand=True), kita memisahkan nilai-nilai di kolom 'genres' yang terpisah oleh tanda '|'. Hal ini menghasilkan DataFrame baru di mana setiap genre ditempatkan dalam kolom terpisah.

In [ ]:
print(genres_split.head())

           0          1        2         3        4
0  Biography     Comedy    Crime     Drama     None
1     Action  Adventure   Sci-Fi      None     None
2      Crime      Drama  Mystery  Thriller  Western
3      Drama       None     None      None     None
4  Adventure    Fantasy     None      None     None

In [ ]:
# Beri nama kolom baru
genres_split.columns = [f'genre_{i+1}' for i in range(genres_split.shape[1])]

# Gabungkan dengan DataFrame asli
df = pd.concat([df, genres_split], axis=1)

Kita memberikan nama pada kolom baru dengan format genre_1, genre_2, dan seterusnya, berdasarkan jumlah kolom hasil pemisahan. Kita menggunakan pd.concat([df, genres_split], axis=1) untuk menggabungkan DataFrame asli dengan DataFrame genre yang baru dibuat secara horizontal.

In [ ]:
df.drop(columns=['genres'], inplace=True)

dengan df.drop(columns=['genres'], inplace=True), kita menghapus kolom 'genres' yang sudah tidak diperlukan lagi setelah pemisahan.

In [ ]:
# tampilkan dataframe
df.head()

,color,director_name,duration,gross,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,genre_1,genre_2,genre_3,genre_4,genre_5
0,color,Martin Scorsese,240,116866727.0,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000,Biography,Comedy,Crime,Drama,None
1,color,Shane Black,195,408992272.0,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000,Action,Adventure,Sci-Fi,None,None
2,color,Quentin Tarantino,187,54116191.0,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000,Crime,Drama,Mystery,Thriller,Western
3,color,Kenneth Lonergan,186,46495.0,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0,Drama,None,None,None,None
4,color,Peter Jackson,186,258355354.0,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000,Adventure,Fantasy,None,None,None

### menormalisasi teks lowercase

In [ ]:
# Menormalisasi kolom teks menjadi huruf kecil
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

# Menampilkan DataFrame yang sudah dinormalisasi
df.head()

,color,director_name,duration,gross,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,genre_1,genre_2,genre_3,genre_4,genre_5
0,color,martin scorsese,240,116866727.0,the wolf of wall street,2013,english,usa,100000000.0,8.2,"leonardo dicaprio,matthew mcconaughey,jon favreau",138000,biography,comedy,crime,drama,None
1,color,shane black,195,408992272.0,iron man 3,2013,english,usa,200000000.0,7.2,"robert downey jr.,jon favreau,don cheadle",95000,action,adventure,sci-fi,None,None
2,color,quentin tarantino,187,54116191.0,the hateful eight,2015,english,usa,44000000.0,7.9,"craig stark,jennifer jason leigh,zoë bell",114000,crime,drama,mystery,thriller,western
3,color,kenneth lonergan,186,46495.0,margaret,2011,english,usa,14000000.0,6.5,"matt damon,kieran culkin,john gallagher jr.",0,drama,None,None,None,None
4,color,peter jackson,186,258355354.0,the hobbit: the desolation of smaug,2013,english,usa,225000000.0,7.9,"aidan turner,adam brown,james nesbitt",83000,adventure,fantasy,None,None,None

Kita menggunakan df.apply(lambda x: x.str.lower() if x.dtype == "object" else x) untuk mengubah semua kolom yang berisi teks menjadi huruf kecil.